.about-page {
    min-height: calc(100vh - 290px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    .content-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        margin: 0 15%;

        .text-zone {
            width: auto;
            color: #c1c5ca;
            z-index: 1;

            .title {
                font-size: 22px;
                margin: 0;
                font-family: 'Coolvetica';
                font-weight: 400;
                letter-spacing: 3px;
                margin-left: 40px;
                margin-bottom: 40px;

                &::before {
                    content: '<h1>';
                    display: block;
                    font-family: 'La Belle Aurore';
                    color: #fff000;
                    font-size: 20px;
                    opacity: 0.6;
                    margin-left: -20px;
                }

                &::after {
                    content: '</h1>';
                    display: block;
                    font-family: 'La Belle Aurore';
                    color: #fff000;
                    font-size: 20px;
                    margin-left: -20px;
                    margin-top: 8px;
                    animation: fadeIn 1s 1.7s backwards;
                    opacity: 0.6;
                }
            }

            .about-photo {
                height: 250px;
                border-radius: 15px;
                float: right;
                margin-left: 20px;
                margin-bottom: 8px;
            }

            p {
                line-height: 1.6;
                font-size: 16px;
                font-family: sans-serif;
                margin-left: 40px;
                margin-bottom: 10px;
            }
        }
    }
}