.home-page {
    .text-zone {
        position: absolute;
        left: 15%;
        top: 40%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
        color: #c1c5ca;
        padding-left: 20px;
        z-index: 1;
    }

    h1 {
        font-size: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;

        &::before {
            content: '<h1>';
            font-family: 'La Belle Aurore';
            color: #fff000;
            font-size: 20px;
            opacity: 0.6;
            position: absolute;
            margin-top: -20px;
            left: 20px;
        }

        &::after {
            content: '</h1>';
            font-family: 'La Belle Aurore';
            color: #fff000;
            font-size: 20px;
            position: absolute;
            margin-top: 40px;
            margin-left: 20px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }
    }

    h2 {
        color: #687a89;
        margin-top: 20px;
        font-weight: 400px;
        font-size: 18px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;
    }

    .flat-button {
        color: #fff000;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 3px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #ffd700;
        margin-top: 20px;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;

        &:hover {
            background-color: #ffd700;
            color: #333;
        }
    }

    .image-zone {
        width: 400px;
        height: 609px;
        position: absolute;
        top: 0;
        right: 15%;
        bottom: 0;
        left: auto;
        margin: auto;

        svg {
            width: 100%;
            height: auto;
            bottom: 0;
        }

        .home-image {
            position: absolute;
            top: auto;
            right: auto;
            bottom: auto;
            left: 0;
            margin: auto;
            width: 100%;
          }
    }
}