.contact-page {
    min-height: calc(100vh - 290px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    .content-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        margin: 0 15%;

        .text-zone {
            width: 100%;
            color: #c1c5ca;
            z-index: 1;

            .title {
                font-size: 22px;
                margin: 0;
                font-family: 'Coolvetica';
                font-weight: 400;
                letter-spacing: 3px;
                margin-left: 40px;
                margin-bottom: 40px;

                &::before {
                    content: '<h1>';
                    display: block;
                    font-family: 'La Belle Aurore';
                    color: #fff000;
                    font-size: 20px;
                    opacity: 0.6;
                    margin-left: -20px;
                }

                &::after {
                    content: '</h1>';
                    display: block;
                    font-family: 'La Belle Aurore';
                    color: #fff000;
                    font-size: 20px;
                    margin-left: -20px;
                    margin-top: 8px;
                    animation: fadeIn 1s 1.7s backwards;
                    opacity: 0.6;
                }
            }

            .contact-form {
                margin-left: 40px;
                margin-right: 40px;
                margin-bottom: 10px;

                ul {
                    padding: 0;
                    margin: 0;

                    li {
                        padding: 0;
                        margin: 0;
                        list-style: none;
                        margin-bottom: 10px;
                        opacity: 0;
                        overflow: hidden;
                        display: block;
                        clear: both;
                        position: relative;
                        animation: fadeInUp 2s 2s;
                        animation-fill-mode: forwards;
                    }

                    li.half {
                        width: 49%;
                        margin-left: 2%;
                        float: left;
                        clear: none;

                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }

                input[type='text'],
                input[type='email'] {
                    width: 100%;
                    border: 0;
                    background: #d7dbe0;
                    height: 50px;
                    font-size: 16px;
                    color: #25282a;
                    padding: 0 20px;
                    box-sizing: border-box;
                }

                textarea {
                    width: 100%;
                    border: 0;
                    background: #d7dbe0;
                    height: 50px;
                    font-size: 16px;
                    color: #25282a;
                    padding: 20px;
                    box-sizing: border-box;
                    min-height: 150px;
                }

                .flat-button {
                    color: #fff000;
                    font-size: 12px;
                    font-weight: 600;
                    letter-spacing: 3px;
                    font-family: sans-serif;
                    text-decoration: none;
                    padding: 10px 18px;
                    border: 1px solid #ffd700;
                    background: 0 0;
                    float: left;
                    animation: fadeIn 1s 1.8s backwards;
                    white-space: nowrap;
                    margin-top: 10px;

                    &:hover {
                        background-color: #ffd700;
                        color: #25282a;
                    }
                }
            }
        }
    }
}